.App {
  width: 100vw;
  height: auto;
  max-width: 1600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-header {
  height: 3rem;
  padding: 0.5rem 0;
}

.App-header img {
  display: block;
  margin: 0 auto;
  max-height: 3rem;
}

.App ul {
  list-style: none;
  padding-inline-start: 0;
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid gray;
}

button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: .7px solid gray;
  font-weight: bold;
  transition: all .2s;
}

.active {
  background-color: black;
  color: white;
}

.inactive {
  background-color: white;
  color: black;
}


@media only screen and (min-width: 1004px) {
  button:hover {
    background-color: black;
    color: white;
  }
}

@media only screen and (max-width: 450px) {
  .App-header img {
    display: block;
    margin: 0 auto;
    max-height: 2.5rem;
  }
}